*.swp
*.pyc

circuit/zeabus_hydrophone-cache.lib
*.sch-bak
circuit/fp-info-cache
*.elf
FX3S_firmware/zeabus_hp_fx3s.map
*.gbr
*.drl
FPGA_firmware/zeabus_hydrophone.cache
FPGA_firmware/hp_data.hex
FPGA_firmware/hp_output.hex
FPGA_firmware/hp_output1.hex
FPGA_firmware/hp_output2.hex
SlaveFIFO_verify/project_1.cache
